
    <div class="row">

        <div class="col-md-6">
            <input type="hidden" name="zpid" value="@Model.Zpid">
            <div class="form-group">
                <label class="control-label">Down Payment Percentage</label>
                <input type="text" name="downPaymentPercentage" value="@Model.DownPaymentPercentage" />
            </div>
            <div class="form-group">
                <label class="control-label">Rate Of Interest</label>
                <input type="text" name="rateOfInterest" value="@Model.RateOfInterest" />
            </div>
            <div class="form-group">
                <label class="control-label">Number Of Payments</label>
                <input type="text" name="numOfPayments" value="@Model.NumOfPayments" />
            </div>
            <div class="form-group">
                <label class="control-label">Initial Repair</label>
                <input type="text" name="InitialRepair" value="@Model.InitialRepair" />
            </div>
        </div>

    </div>