
<!-- Modal HTML -->
<div id="editModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Property</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="zpid" value="@Model.Zpid">
                <input type="hidden" name="tricky-input" value="">
                <div class="form-group">
                    <label for="downPaymentPercentage" class="control-label">Down Payment Percentage (%)</label>
                    <input type="text" class="form-control" name="downPaymentPercentage" value="@Model.DownPaymentPercent" />
                </div>
                <div class="form-group">
                    <label for="rateOfInterest" class="control-label">Rate Of Interest (%)</label>
                    <input type="text" class="form-control" name="rateOfInterest" value="@Model.RateOfInterestPercentage" />
                </div>
                <div class="form-group">
                    <label for="numOfPayments" class="control-label">Years to Pay Loan</label>
                    <input type="text" class="form-control" name="numOfYearsToPay" value="@Model.NumOfYearsToPayLoan" />
                </div>
                <div class="form-group">
                    <label for="InitialRepair" class="control-label">Initial Repair ($)</label>
                    <input type="text" class="form-control" name="InitialRepair" value="@Model.InitialRepair" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Save Changes</button>
            </div>
        </div>
    </div>
</div>