@model RealEstatePropertyShared.Models.RealEstateProperty

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section>
    <div class="container">
        <h1>Property Details</h1>

        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                @if (Model.Images != null)
                {
                    foreach (var image in Model.Images)
                    {
                        <div class="swiper-slide" style="background-image:url(@image)"></div>
                    }
                }
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>

        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                @if (Model.Images != null)
                {
                    foreach (var image in Model.Images)
                    {
                        <div class="swiper-slide" style="background-image:url(@image)"></div>
                    }
                }
            </div>
        </div>


        <div class="property-details-container">
            <div class="row">
                <div class="col-sm-6"><h2>@Model.PriceAsString</h2></div>
                <div class="col-sm-6"><h2 style="text-align: right">@Model.Bedrooms bds | @Model.Bathrooms ba | @Model.FinishedSqFt sqft</h2></div>
            </div>
            <h2>@Model.Street, @Model.City, @Model.State @Model.Zipcode</h2>

            <p>@Model.HomeDescription</p>
            <h3 class="section-label">Facts and Features</h3>

            <div class="facts-and-features-container">

                <div class="row">
                    @if (Model.PropertyType != null)
                    {
                        <div class="col-sm-3">
                            <div class="property-fact-feature">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <p class="feature-label">Type</p>
                                <p>@Model.PropertyType</p>
                            </div>
                        </div>
                    }
                    @if (Model.HeatingSystem != null)
                    {
                        <div class="col-sm-3">
                            <div class="property-fact-feature">
                                <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
                                <p class="feature-label">Heating</p>
                                <p>@Model.HeatingSystem</p>
                            </div>
                        </div>
                    }
                    @if (Model.CoolingSystem != null)
                    {
                        <div class="col-sm-3">
                            <div class="property-fact-feature">
                                <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                                <p class="feature-label">Cooling</p>
                                <p>@Model.CoolingSystem</p>
                            </div>
                        </div>
                    }
                    @if (Model.ParkingType != null)
                    {
                        <div class="col-sm-3">
                            <div class="property-fact-feature">
                                <i class="fa fa-car" aria-hidden="true"></i>
                                <p class="feature-label">Parking</p>
                                <p>@Model.ParkingType</p>
                            </div>
                        </div>

                    }
                    @if (Model.LotSizeSqFt != null)
                    {
                        <div class="col-sm-3">
                            <div class="property-fact-feature">
                                <i class="fa fa-th-large" aria-hidden="true"></i>
                                <p class="feature-label">Lot</p>
                                <p>@Model.LotSizeSqFt sqft</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <h3 class="section-label">Interior Features</h3>
            <div class="interior-features-container">
                <div class="row">
                    @if (Model.Bedrooms != null)
                    {
                        <div class="col-sm-4">
                            <p class="feature-label">Bedrooms</p>
                            <p>@Model.Bedrooms</p>
                        </div>
                    }
                    @if (Model.FloorCovering != null || Model.NumFloors != null)
                    {
                        <div class="col-sm-4">
                            <p class="feature-label">Flooring</p>
                            <p>@Model.FloorCovering</p>
                            <p>@Model.NumFloors</p>
                        </div>
                    }
                    @if (Model.Architecture != null)
                    {
                        <div class="col-sm-4">
                            <p class="feature-label">Arquitecture</p>
                            <p>@Model.Architecture</p>
                        </div>
                    }
                    @if (Model.NumRooms != null || Model.Basement != null)
                    {
                        <div class="col-sm-4">
                            <p class="feature-label">Other Interior Featuers</p>
                            <p>Room Number: @Model.NumRooms</p>
                            <p>Basement: @Model.Basement</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Swiper JS -->
@Scripts.Render("~/Scripts/swiper.min.js")

<!-- Initialize Swiper -->
@section Scripts {
    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function (e) {
            var swipers = document.querySelectorAll(".swiper-container");
            if (swipers.length) {
                var galleryThumbs = new Swiper('.gallery-thumbs', {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    loop: true,
                    freeMode: true,
                    loopedSlides: 5, //looped slides should be the same
                    watchSlidesVisibility: true,
                    watchSlidesProgress: true,
                });
                var galleryTop = new Swiper('.gallery-top', {
                    spaceBetween: 10,
                    loop: true,
                    loopedSlides: 5, //looped slides should be the same
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    thumbs: {
                        swiper: galleryThumbs,
                    },
                });
            }
            e.preventDefault();
        });

    </script>
}
