@model List<RealEstatePropertyShared.Models.RealEstateProperty>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section>
        <div class="container">
            <div class="row">


                @foreach (var property in Model)
                {
                    <div class="col-md-4">
                        <div class="property-card">
                            <div class="image-container">
                                <img src="@property.Images[0]" />
                            </div>
                            <div class="property-card-info">
                                <div class="property-card-info-top">
                                    <h3>@property.Price</h3>
                                    <p>@property.Bedrooms bds | @property.Bathrooms ba | @property.FinishedSqFt sqft</p>
                                </div>
                                <div class="property-card-info-bottom">
                                    <h5>@property.Street, @property.City, @property.State @property.Zipcode</h5>
                                    <h5>Monthly Morgage: @property.MorgagePerYear</h5>
                                    <h5>Property Manager: @property.PropertyManagerPerYear</h5>
                                    <h5>Property Taxes: @property.PropertyTaxPerYear</h5>
                                    <h5>Vacancy Per Year: @property.VacancyPerYear</h5>
                                    <h5>Rent Per Year: @property.RentPerYear</h5>
                                    <h5>Loan Amount: @property.LoanAmount</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>
