@model List<RealEstatePropertyShared.Models.RealEstateProperty>
@using  System.Globalization;

@{
    ViewBag.Title = "PropertiesForSale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section>
    <div class="container">
        <h2>Properties For Sale</h2>
        <div class="row">

            @{
                var sortedProperties = Model.Where(p => p.Price != 0).OrderByDescending(p => p.CapRate);

            }
            @foreach (var property in sortedProperties)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="property-card">
                        <div class="image-container">
                            <img src="@property.Images[0]" />
                            @using (Html.BeginForm("SaveProperty", "RealEstateProperties", FormMethod.Post))
                            {
                                <input type="hidden" name="zpid" value="@property.Zpid">

                                <button class="like-btn @Html.Raw(@property.IsSaved == true ? "saved-btn" : "nosaved-btn" )" type="submit"><i class="fa fa-heart" aria-hidden="true"></i>
                                </button>
                            }
                        </div>
                        <div class="property-card-info">
                            <div class="property-card-info-top">
                                <h3>@property.PriceAsString</h3>
                                <p>@property.Bedrooms bds | @property.Bathrooms ba | @property.FinishedSqFt sqft</p>
                            </div>
                            <div class="property-card-info-bottom">
                                <h5>@property.Street, @property.City, @property.State @property.Zipcode</h5>
                                <h5>NOI: @property.NOIAsString</h5>
                                <h5>Cap Rate: @property.CapRateAsString</h5>
                                <h5>Cashflow: @property.CashflowAsString</h5>
                                <h5>COC: @property.COCAsString</h5>
                                <br />
                                @Html.ActionLink("Details", "Details", new { zpid = @property.Zpid }, new { @class = "details-btn" })
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
